body{
    font-family: 'Open Sans', sans-serif;
     background: #ececec;
  }


  
 
  h1{
    font-size:1.5em;
    color:#525252;
  }
  
  .box{
    background: #FFF;
    width: 33%;
    border-radius:6px;
    margin: 0 auto  auto;
    padding:0px 0px 4% 0px;
    margin-top:10%;

  }
  
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  

  .login-title{
    padding-top: 10%;
  }
  .form {
    padding: 0% 10%;
  }